{% extends 'common/layout.html' %}

{% block body %}
    {% if questions %}
        {% for question in questions %}
            {% if question.active %}
            <a href="../competition/{{question.identifier}}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-flag"></i>
                </span>
                <span class="text">{{question.identifier}}</span>
            </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock body %}