{% extends 'common/layout.html' %}

{% block body %}
    <span>Present location: </span><span style="color: rgb(233, 85, 16);">{{path}}</span>
    <a class="dropdown-item" href="{% url 'users:logout' %}" data-toggle="modal" data-target="#newFolderModal">
        <i class="fa fa-plus"></i>
        NewFolder
    </a>
    <a class="dropdown-item" href="{% url 'users:logout' %}" data-toggle="modal" data-target="#newFileModal">
        <i class="fa fa-plus"></i>
        NewFile
    </a>
    
    {% for dir in dirs %}
    <form action="{% url 'codedir:parsepath' %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <input name="path" value={{path}}/{{dir}} type="hidden">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fa fa-folder"></i>
            </span>
            <span class="text">{{dir}}</span>
        </button>
    </form>
    <form action="{% url 'codedir:deletefolder' %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <input name="path" value="{{path}}/{{dir}}" type="hidden">
        <button type="submit" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
        </button>
    </form>
    <br>
    <br>
    {% endfor %}
    <br>
    {% for fil in files %}
    <form action="{% url 'codedir:parsepath' %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <input name="path" value={{path}}/{{fil}} type="hidden">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fa fa-file"></i>
            </span>
            <span class="text">{{fil}}</span>
        </button>
    </form>
    <form action="{% url 'codedir:deletefile' %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <input name="path" value="{{path}}/{{fil}}" type="hidden">
        <button type="submit" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
        </button>
    </form>
    <br>
    <br>
    {% endfor %}
    
    <!-- newFolder Modal-->
    <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter folder name</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">
            <form action="{% url 'codedir:newfolder' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="newfoldername">
                <input value={{path}} name="presentpath" hidden>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
            </div>
        </div>
        </div>
    </div>

    <!-- newFile Modal-->
    <div class="modal fade" id="newFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enter File name</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'codedir:newfile' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="newfilename">
                <input type="hidden" value="{{path}}" name="presentpath">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit">Create</button> 
              </form>
            </div>
           
          </div>
        </div>
      </div>
{% endblock body %}