{% extends "users/layout.html" %}

{% block body %}
    <h1>BACILICSK</h1>
    <h1>User Login</h1>

    {% if message %}
        <p>{{message}}</p>
    {% endif %}

    <form action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="username"><br><br>
        Password: <input type="password" name="password"><br><br>
        <input type="submit" value="login">
    </form>

    <a href="{% url 'users:signup' %}">New User? Register Here</a>
{% endblock %}